body
  font-family: Verdana, Helvetica, sans-serif
  font-size: 11pt
  padding: 0
  margin: 0
  
  a
    color: #464D57
  
#top_header
  background-color: #2F3C4C
  color: #F4EFB7
  font-size: 20pt
  height: 40px
  padding: 20px
  
  .sub
    font-size: 10pt
    
    a
      color: #F4EFB7
  
#main_content
  padding: 20px

#info_box
  background-color:  #F4EFB7
  color: #464D57
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  padding: 10px
  width: 680px
  border: 2px solid #464D57
  font-size: 10pt
  margin-bottom: 30px
  
  .section
    margin-bottom: 10px
    margin-top: 5px
    
    .title 
      font-weight: bold
  
.clear_float
  clear: both
  
.example
  border: 2px solid #464D57
  background-color: #F4FCF2
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  margin-bottom: 30px
  width: 700px
  
  .header
    background-color: #464D57
    color: #D4E8D3
    padding: 5px
  
  .footer
    background-color: #D4E8D3
    padding: 5px
    font-size: 10pt

    .src_code
      float: left

    .styling
      float: right
    
  .content
    padding-left: 10px
  
  .example_content
    padding: 10px  
  
.breadcrumbs
  font-size: 12px
  
  .title
    float: left
    margin-right: 5px
  
  a
    text-decoration: none
    
    &:hover
      text-decoration: underline
    
    
