#info_box
  The styling of these examples has been tested with Firefox 3 and Safari 3/4.

  .section
    .title Source Code
    .info
      Simple Navigation Plugin:
      = link_to 'http://github.com/andi/simple-navigation', 'http://github.com/andi/simple-navigation'
  .section
    .title Documentation
    .info
      Simple Navigation Plugin Wiki:
      = link_to 'http://wiki.github.com/andi/simple-navigation', 'http://wiki.github.com/andi/simple-navigation'
  .section
    .title Discussion and Feedback
    .info
      Google Group: 
      = link_to 'http://groups.google.com/group/simple-navigation', 'http://groups.google.com/group/simple-navigation'
  .section
    .info
      All examples shown here are based on 
      = link_to 'this config/navigation.rb', gist_path(:gist => '87452')
      file.
