---
name: CI

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
  schedule:
    - cron: '0 4 1 * *'

jobs:
  rubocop:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0'

      - name: Bundler
        run: bundle install

      - name: Rubocop
        run: bin/rubocop

  rspec:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        ruby:
          - '4.0'
          - '3.4'
          - '3.3'
          - '3.2'
          - '3.1'
          - '3.0'
        rails:
          - rails_8.1
          - rails_8.0
          - rails_7.2
          - rails_7.1
          - rails_7.0
          - rails_6.1

        exclude:
          - ruby: '3.0'
            rails: 'rails_7.2'
          - ruby: '3.0'
            rails: 'rails_8.0'
          - ruby: '3.0'
            rails: 'rails_8.1'

          - ruby: '3.1'
            rails: 'rails_8.0'
          - ruby: '3.1'
            rails: 'rails_8.1'

    env:
      # $BUNDLE_GEMFILE must be set at the job level, so it is set for all steps
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/${{ matrix.rails }}.gemfile
      # Check for frozen strings
      RUBYOPT: "--enable=frozen-string-literal --debug=frozen-string-literal"

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: RSpec
        run: bin/rspec
